.cm-s-neat span.cm-comment { color: #a86; }
.cm-s-neat span.cm-keyword { line-height: 1em; font-weight: bold; color: blue; }
.cm-s-neat span.cm-string { color: #a22; }
.cm-s-neat span.cm-builtin { line-height: 1em; font-weight: bold; color: #077; }
.cm-s-neat span.cm-special { line-height: 1em; font-weight: bold; color: #0aa; }
.cm-s-neat span.cm-variable { color: black; }
.cm-s-neat span.cm-number, .cm-s-neat span.cm-atom { color: #3a3; }
.cm-s-neat span.cm-meta {color: #555;}
.cm-s-neat span.cm-link { color: #3a3; }

/* Extras: Add page styles (applied to the body element [just add the theme class
		   previously stated in place of each .cm-s-])
.cm-s- h1 {
	color: #1F4661;
}
.cm-s- header span {
	color: #333333;
}
.cm-s- .button {
    background-color: #1F4661;
    border-bottom-color: #0E2B3F;
}
.cm-s- .button:hover {
    background-color: #14374F;
    border-bottom-color: #061B28;
}*/