/*
 * Created by Gabriel Nahmias as part of the OneLiner distribution available at:
 * http://github.com/gabrielnahmias/OneLiner
 * This theme is enhanced with (extra) features available to the forked version of
 * CodeMirror also available from his GitHub page at:
 * http://github.com/gabrielnahmias/CodeMirror
 * (linked as a submodule from OneLiner)
 */

.cm-s-the-matrix.CodeMirror { background: #000000; color: #00FF00; }
.cm-s-the-matrix span.CodeMirror-selected { background: #a8f !important; }
.cm-s-the-matrix .CodeMirror-gutters { background: #060; border-right: 2px solid #00FF00; }
.cm-s-the-matrix .CodeMirror-linenumber { color: #FFFFFF; }
.cm-s-the-matrix .CodeMirror-cursor { border-left: 1px solid #00FF00 !important; }

.cm-s-the-matrix span.cm-keyword {color: #008803; font-weight: bold;}
.cm-s-the-matrix span.cm-atom {color: #3FF;}
.cm-s-the-matrix span.cm-number {color: #FFB94F;}
.cm-s-the-matrix span.cm-def {color: #AAA;}
.cm-s-the-matrix span.cm-variable {color: #FF9;}
.cm-s-the-matrix span.cm-variable-2 {color: #AA8A00;}
.cm-s-the-matrix span.cm-variable-3 {color: #FF0;}
.cm-s-the-matrix span.cm-property {color: #62FFA0;}
.cm-s-the-matrix span.cm-operator {color: #999}
.cm-s-the-matrix span.cm-comment {color: #CCCCCC;}
.cm-s-the-matrix span.cm-string {color: #39C;}
.cm-s-the-matrix span.cm-meta {color: #FC4B4B; font-weight: bold;}
.cm-s-the-matrix span.cm-error {color: #FF0000;}
.cm-s-the-matrix span.cm-qualifier {color: #FFF700;}
.cm-s-the-matrix span.cm-builtin {color: #30a;}
.cm-s-the-matrix span.cm-bracket {color: #cc7;}
.cm-s-the-matrix span.cm-tag {color: #FFBD40;}
.cm-s-the-matrix span.cm-attribute {color: #FFF700;}

/* Extras: Add page styles (applied to the body element) */
.cm-s-the-matrix h1 {
	color: #006600;
}
.cm-s-the-matrix header span {
	color: #6ABFFC;
}
.cm-s-the-matrix .button {
    background-color: #006600;
    border-bottom-color: #003F00;
}
.cm-s-the-matrix .button:hover {
    background-color: #003F00;
    border-bottom-color: #001200;
}
.cm-s-the-matrix .ui-state-default .ui-icon {
    background-image: url("img/the-matrix_ui-icons_6da8d5_256x240.png");
}
.cm-s-the-matrix .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #6F9;
    border-color: #C5DBEC;
}
.cm-s-the-matrix .ui-state-hover, .cm-s-the-matrix .ui-widget-content .ui-state-hover,
.cm-s-the-matrix .ui-widget-header .ui-state-hover, .cm-s-the-matrix .ui-state-focus,
.cm-s-the-matrix .ui-widget-content .ui-state-focus, .cm-s-the-matrix .ui-widget-header .ui-state-focus {
	border-color: #43A06A;
}
.cm-s-the-matrix .ui-widget-content {
	border-color: #99B671;
}
.cm-s-the-matrix .ui-widget-header {
	background-image: url("img/the-matrix_ui-bg_gloss-wave_55_5c9ccc_500x100.png");
}